* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset;
}

.btn.focus,
.btn:focus {
  outline: unset;
  box-shadow: unset;
}

a:hover {
  text-decoration: none;
}

a {
  color: unset;
  text-decoration: none;
  background-color: transparent;
}

/*** BANNER ***/
.banner {
    color: #ffffff;
    font-size: 16px;
    background-image: url(../img/desfio.webp),
      url(../img/desfio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
  }