* {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset;
}

.btn.focus,
.btn:focus {
  outline: unset;
  box-shadow: unset;
}

a:hover {
  text-decoration: none;
}

a {
  color: unset;
  text-decoration: none;
  background-color: transparent;
}

.botao {
  border-radius: 5px;
  box-shadow: 0px 3px 0px rgb(110, 32, 67);
  font-size: clamp(20px, 3vw, 28px);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 15px 0;
  max-width: 400px;
  margin: 0 auto;
}

.botao-formulario {
  background-color: rgb(160, 39, 93);
  border: 2px solid rgb(160, 39, 93);
}

.botao:hover {
  margin-top: 3px;
}

/*** BANNER ***/
.banner {
  color: #ffffff;
  font-size: 16px;
  background-image: url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/desafio_savage/img/desfio.webp),
    url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/desafio_savage/img/desfio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 760px;
}

/*** FORMULÁRIO ***/
.formulario {
  background-color: #000000;
  padding: 0 0 2rem;
}

.formulario h1 {
  line-height: 100%;
  font-style: italic;
  margin: 0;
}

.formulario span {
  color: rgb(160, 39, 93);
  max-width: 500px;
  font-size: clamp(22px, 3vw, 30px);
  line-height: clamp(22px, 3vw, 32px);
  font-weight: bold;
  font-style: italic;
}

.formulario p {
  font-size: clamp(16px, 3vw, 18px);
  line-height: clamp(22px, 3vw, 24px);
  color: #8ea8b6;
  font-weight: 300;
  max-width: 650px;
}

.formulario input {
  outline: none;
  font-weight: 300;
  padding: 15px;
  font-size: clamp(16px, 3vw, 21px);
  margin: 0 auto;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #a1a1a1;
}

.formulario .informacoes-seguras {
  font-size: clamp(16px, 3vw, 16px);
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 100%;
  font-weight: 400;
}

.formulario .cadeado {
  font-size: unset;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 100%;
}

/*** AGENDA ***/
.agenda {
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/desafio_savage/img/agenda.webp),
    url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/desafio_savage/img/agenda.jpg);
  background-attachment: scroll;
  padding-top: 17px;
  padding-bottom: 14px;
  font-weight: bold;
}

.agenda h1 {
  font-size: clamp(22px, 3vw, 36px);
  font-weight: 700;
}

.agenda p {
  font-size: clamp(18px, 3vw, 26px);
  font-size: clamp(16px, 3vw, 16px);
}

/* DESTAQUE ROSA */
.destaque-rosa {
  color: #ffffff;
  background-color: #a0275d;
  padding: 3rem 0 3rem;
}

.destaque-rosa h1 {
  font-size: clamp(30px, 3vw, 38px);
  font-weight: 700;
}

.destaque-rosa ul {
  margin: 0;
  padding: 0;
}

.destaque-rosa ul li {
  font-size: clamp(26px, 3vw, 26px);
  line-height: clamp(36px, 3vw, 30px);
  list-style: none;
  margin-bottom: 3.5rem;
}

.destaque-rosa ul li i {
  font-size: clamp(20px, 3vw, 20px);
  line-height: clamp(20px, 3vw, 20px);
  margin-right: 6px;
}

/*** DESTAQUE ROSA OBRIGADO ***/
.destaque-rosa.obrigado {
  color: #ffffff;
  background-color: #a0275d;
  padding: 4rem 0 4rem;
}

.destaque-rosa.obrigado h1 {
  margin-bottom: 2rem;
}

.destaque-rosa.obrigado ul li {
  font-size: clamp(22px, 3vw, 20px);
  line-height: clamp(30px, 3vw, 24px);
  list-style: none;
  margin-bottom: 3.5rem;
}

.destaque-rosa.obrigado ul li i {
  font-size: clamp(34px, 3vw, 40px);
  line-height: clamp(20px, 3vw, 32px);
  margin-right: 6px;
}

/*** COMO FUNCIONA ***/

.como-funciona {
  background-color: #fafafa;
  padding: 2rem 0 2rem;
  color: #1a3617;
}

.como-funciona h1 {
  font-size: clamp(22px, 3vw, 30px);
  text-transform: uppercase;
  font-weight: 700;
}

.cards-como-funciona {
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-left: 4px solid #a0275d;
  max-width: 500px;
  padding: 32px 20px 32px 57px;
}

.cards-como-funciona h3 {
  color: #1a3617;
  font-size: clamp(24px, 3vw, 24px);
  margin-bottom: 20px;
  font-weight: 400;
}

.cards-como-funciona p {
  font-size: clamp(16px, 3vw, 18px);
  line-height: clamp(18px, 3vw, 20px);
  font-weight: 300;
  color: #555;
}

/***** PERGUNSTAS FREQUENTES *******/
.perguntas-frequentes {
  padding: 2rem 0 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/desafio_savage/img/agenda.webp),
    url(https://goldclubgroup-images.s3.us-east-1.amazonaws.com/websites/desafio_savage/img/agenda.jpg);
}

.perguntas-frequentes h1 {
  font-size: clamp(22px, 3vw, 38px);
  color: #ffffff;
  text-transform: uppercase;
}

/***** ACORDION *******/

.accordion {
  border: none;
  background-color: #ffffff;
}

.card-header.accordion {
  font-size: clamp(16px, 3vw, 18px);
  padding-right: 22px;
}

.btn-link {
  width: 92%;
  font-weight: 700;
  color: #444b56;
  text-align: left;
  text-decoration: none;
  font-size: clamp(16px, 3vw, 18px);
}

.btn-link.focus,
.btn-link:focus,
.btn-link:hover,
.btn-link:hover {
  text-decoration: none;
  color: #444b56;
}

.btn-link:after {
  content: "\2212";
  width: 35px;
  font-size: 25px;
  text-align: center;
  right: 5px;
  top: 16px;
  position: absolute;
  color: #444b56;
}

.bordas-accordion {
  margin-bottom: 20px;
  border-radius: 0;
  padding: 10px 0;
}

.btn-link.collapsed:after {
  content: "\002B";
  color: #444b56;
}

.conteudo-acordion {
  color: #444b56;
  font-weight: 300;
  font-size: clamp(16px, 3vw, 18px);
}

/*** LINKS UTEIS ***/
.links-uteis {
  background-color: #191c1e;
  padding: 1.5rem 0 1.5rem;
}

.links-uteis ul {
  margin: 0;
  padding: 0;
}

.links-uteis ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
}

.links-uteis a {
  color: #7c7c7c;
}

.links-uteis a:hover {
  color: #ffffff;
}

/*** COPIRIGHT ***/
.copyright {
  padding: 2rem 0 2rem;
  background-color: #000000;
  color: #ffffff;
}

.copyright p {
  margin: 0;
  font-size: 14px;
}
/********** MOBILE ***************/

/* @media (max-width: 768px) {
    
  } */

@media (max-width: 584px) {
  .formulario h1 {
    line-height: 60%;
  }

  .cards-como-funciona {
    border-left: unset;
    border-top: 4px solid #a0275d;
    padding-left: 20px;
    padding-top: 50px;
    text-align: center;
  }

  .btn-link {
    width: 90%;
  }
}

/*** OBRIGADO ***/

.inscricao {
  padding: 2rem 0 2rem;
  background-color: rgb(249, 249, 249);
}

.inscricao h1 {
  color: #a0275d;
  font-weight: bolder;
  font-size: clamp(30px, 3vw, 30px);
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.inscricao p {
  color: #898989;
  font-size: 18px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 14px;
}

/*** TELEGRAM ***/
.telegram {
  background-color: #a0275d;
  padding: 3.5rem 0 3.5rem;
}

.btn-telegram {
  background-color: #31f787;
  border-radius: 3px;
  padding: 30px 40px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  max-width: 660px;
  font-size: clamp(20px, 3vw, 22px);
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

.btn-telegram:hover {
  margin-top: -2px;
}

/*** DICAS ***/

.dicas {
  padding: 3rem 0 3rem;
  color: #ffffff;
}

.dicas h1 {
  color: #a0275d;
  font-weight: bolder;
  font-size: clamp(30px, 3vw, 30px);
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.bg-dicas {
  background-color: #a0275d;
}

.dicas .items-container {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  border: 1px solid #8ea8b6;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border-bottom: 1px dotted #c9c9c9;
  max-width: 90%;
}

.dicas span {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 100%;
}

.dicas span + div {
  margin-right: 10px;
}

.svg {
  margin-right: 5px;
}

@media (max-width: 584px) {
  .btn-telegram {
    padding: 30px 10px;
  }

  .dicas .items-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  hr {
    max-width: 100%;
  }
}
